
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&family=Roboto:wght@400;500;700;900&display=swap');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

:root{
  --gold: #d2ad32;
}

*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html{
  font-size: 62.5%;
}


