
.home{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.home-landing{
    max-width: 100%;
    height: 86vh;
    object-fit: cover;
    z-index: -10;
}

.home-overlay{
    position: absolute;
    top: 10rem;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -9;
}

.logo{
    max-width: 80%;
    margin-top: 4rem;
}

.book-link{
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #fff;
    padding: 3rem 5rem;
    margin-top: 2rem;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.covid{
    max-width: 100%;
    background-color: rgb(212, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
    margin-bottom: 3rem;
    box-shadow: 0rem .5rem .8rem #888888;
}

.covid-msg{
    max-width: 80%;
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.content{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content-items{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
}

.content-overlay1, .content-overlay2, .content-overlay3{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0rem auto;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.5rem;
}

.content-overlay1{
    top: 3rem;
    max-height: 28.6%;
}

.content-overlay2{
    top: 44.2rem;
    max-height: 28.31%;
}

.content-overlay3{
    top: 85.08rem;
    max-height: 28.6%;
}

.content-link{
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #fff;
    padding: 2.5rem 1em;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.home-imgs{
    max-width: 85%;
    display: block;
    border-radius: 3.5rem;
    box-shadow: 1rem 1rem .8rem #888888;
}

.tattoo-info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tattoo-info > h1{
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    color: var(--gold);
    font-weight: 500;
    background-color: #000;
    padding: .5em 1.37em;
    margin: 2rem 0rem;
    box-shadow: 0rem .8rem .8rem #888888;
}


.tattoo-info > p{
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    max-width: 80%;
    line-height: 4rem;
    padding: 3rem 0rem;
}

.recent-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.recent-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
}

.recent-title{
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    color: var(--gold);
    font-weight: 500;
    background-color: #000;
    padding: .5em 3.08em;
    box-shadow: 0rem .8rem .8rem #888888;
}








