
.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
}

.left-nav{
    flex: 3;
}

.center-nav{
    flex: 9;
}

.nav{
    display: flex;
}

.nav > li {
    list-style: none;
    color: #fff;
}

.mobile-nav{
    display: none;
}

.right-nav{
    display: none;
}

@media only screen and (max-width: 600px) {
    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0rem 5rem; */
    }

    .logo{
        max-width: 15rem;
    }

    .nav{
        display: none;
    }
    
    .mobile-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        position: absolute;
        margin-top: 7.65rem;
        margin-left: -15rem;
        width: 100%;
        padding: 2rem 0rem;
        border-top: 1px solid var(--gold);
    }

    .mobile-nav > li {
        list-style: none;
        padding: 2rem 0rem;
    }

    .link {
        text-decoration: none;
        color: #fff;
        font-size: 1.8rem;
    }

    .right-nav{
        display: block;
    }

    .mobile-icon-btn{
        display: flex;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        cursor: pointer;
        margin-right: 3rem;
    }

    .mobile-bars{
        font-size: 4rem;
    }

    .mobile-close{
        font-size: 4.5rem;
    }
}






