
.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
}

.left-nav{
    flex: 3;
}

.center-nav{
    flex: 9;
}

.nav{
    display: flex;
}

.nav > li {
    list-style: none;
    color: #fff;
}

.mobile-nav{
    display: none;
}

.right-nav{
    display: none;
}

@media only screen and (max-width: 600px) {
    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0rem;
        position: sticky;
        top: 0;
        background-color: #000;
    }

    .shadow-navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0rem;
        position: sticky;
        top: 0;
        background-color: #000;
        box-shadow: 0rem .8rem .8rem rgba(0, 0, 0, 0.5);
    }

    .left-nav{
        flex: 6;
        padding-left: 2rem;
    }

    .center-nav{
        flex: 0;
    }

    .logo-text{
        color: #fff;
        font-size: 2.75rem;
        max-width: 100%;
        font-family: 'Roboto Slab', serif;
        text-decoration: none;
    }

    .nav{
        display: none;
    }
    
    .mobile-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000;
        position: absolute;
        top: 10.5rem;
        left: 0;
        right: 0;
        max-width: 100%;
        border-top: .1rem solid #fff;
        border-bottom: .1rem solid #fff;
        box-shadow: 0rem .5rem .8rem rgba(0, 0, 0, 0.5);
    }

    .mobile-nav > li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        border-top: .1rem solid rgba(87, 87, 87, 0.3);
        border-bottom: .1rem solid rgba(201, 201, 201, 0.3);
    }

    .link {
        text-decoration: none;
        color: #fff;
        font-size: 2.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 3rem 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }

    .active-link{
        text-decoration: none;
        /* color: var(--gold); */
        color: #000;
        background-color: var(--gold);
        padding: 3rem 0rem;
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    .artists{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        
    }

    .artists > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: 100%;
        max-width: 100%;
        border-top: .1rem solid rgba(87, 87, 87, 0.3);
        border-bottom: .1rem solid rgba(201, 201, 201, 0.3);
    }

    .hide-artists{
        display: none;
    }

    .caret-icon{
        padding-left: .5rem;
        
    }

    .right-nav{
        display: block;
    }

    .mobile-icon-btn{
        display: flex;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        cursor: pointer;
        margin-right: 3rem;
    }

    .mobile-bars{
        font-size: 4rem;
    }

    .mobile-close{
        font-size: 4.5rem;
    }
}






